.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-child {
    margin-right: 0;
}

@media screen and (width: 767px) {
    .header__lang-link {
    font-size: 18px;
    line-height: 24px;
    }
}