.lead {
    margin: 56px auto 0;
    max-width: 984px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lead:nth-child(2) {
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 48px 0 0;

    }
}