.cover__subtitle {
    min-width: 288px;
    min-height: 48px;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    margin: 32px 412px 245px;
    color: #ffffff;
    text-decoration: none;
}

.cover__subtitle:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 32px 332px 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 32px 204px 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        margin: 16px 16px 33px;
    }
}