.header {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        margin: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0 16px;
    }
}

