.footer__link {
    font-size: 16px;
    line-height: 112%;
    margin: 0 18px 0 0;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}

.footer__link:last-child {
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 32px;
    }
}