.place__website_url-heading {
    width: 456px;
    height: 12px;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 12px;
    text-decoration: none;
}

