.cover__overlay {
    width: 1184px;
    height: 740px;
    background-color: #2a2c2f;
    opacity: 0.3;
    z-index: 2;
    grid-row: 1/2;
    grid-column: 1/2;
}

.cover__overlay:hover {
    opacity: 0.8;
}