.cover__background {
    min-width: 320px;
    max-width: 1184px;
    min-height: 200px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
}

@media screen and (max-width: 768) {
    .cover__background {
    }
}
