.lead__caption {
    margin: 8px 973px 0 148px;
    width: 159px;
    height: 14px;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
}