.cover__title {
    min-width: 288px;
    min-height: 70px;
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
    z-index: 2;
}


@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
        margin: 33px 16px 0;
    }
}