.place {
    width: 984px;
    height: 660px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.place:last-child {
    margin-bottom: 0;
}