.place {
    max-width: 984px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 40px 48px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-gap: 48px 28px;
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: auto;
        grid-gap: 32px;
        margin-bottom: 48px;
    }
}

