.footer {
    min-width: 186px;
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 92px auto 0;
    padding-bottom: 24px;
}

@media screen and (max-width: 1023px) {
    .footer {
    margin: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin: 64px 0 0;
        align-items: flex-start;
    }
}

